
/*generelt*/
body{
    background-color: aquamarine;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

/*loginpage*/

#header{
font-size: 30px;
}

#login{
    float: left;
    padding: 10px;
justify-content: center;
    background-color: greenyellow;

}

#createUser{ 
    float:right;
    padding: 10px;
    text-align: center;
    background-color: greenyellow;
}


/*homepage*/

#profile{
    border: 3px greenyellow;
    float:left;
}

#swipe{
    border: 3px greenyellow;
    float:middle;
}

#matches{
    border: 3px greenyellow;
    float:right;
}