<!DOCTYPE html>
<html>  
<head>
    <meta charset="UTF-8"/>
    <meta name="frontPage" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="eksamen.css" type="text/css">
    <title>login page</title>
</head>

<body>

    <div id="header">
        <p>Welcome to my online dating app</p>
    </div>


    <div id="login">
        <form id="login">
            <h1>Login</h1>
            <label for="username">Username:</label>
            <input type= "username" id="username" placeholder="Enter username..."> <!--required sørger for, at når brugeren submitter formen, og ikke har tastet sin email i dette tilfælde, vil der dukke en lille boks op, som beder brugeren om at udfylde den-->
                <br><br>
            <label for="password">Password:</label>
            <input type= "password" id="password" placeholder="Enter password...">
                <br><br>
          <button id="loginbtn">Login</button>
            <!--submit knappen skal checke om oplysningerne er korrekt og hvis de er skal den lede over i homepage-->
            <p id=loginfail></p> <!--henter error msg fra userController-->
        </form>
    </div>

    <div id="createUser">
        <form id="createUser">
            <h1>Create new user</h1>
            <label for="firstname">Firstname:</label>
            <input type= "text" id="firstname" placeholder="Enter your first name...">
                <br><br>
            <label for="lastname">Lastname:</label>
            <input type= "text" id="lastname" placeholder="Enter your last name...">
                <br><br>
            <label for="age">Age:</label>
            <input type="text" id="age" placeholder="Enter your age...">
                <br><br>
            <label for="interests">Interests:</label>
             <input type= "text" id="interests" placeholder="Enter your interests...">
                <br><br>
            <label for="gender">Gender:</label>
            <input type= "text" id="gender" placeholder="Enter your gender...">
                <br><br>
            <label for="newUsername">Choose a username:</label>
            <input type= "text" id="newUsername" placeholder="Enter a username...">
                <br><br>
            <label for="newPassword">Choose a password:</label>
            <input type= "text" id="newPassword" placeholder="Must contain at least 8 or more characters">
                <br><br>
                <button id="createbtn">Register new user</button> 

            <!-- submit knappen skal checke at det ikke allerede er en bruger og hvis ikke skal den oprette en ny i local storage, give denne bruger et ID samt føre over til homepage-->
        </form>
    </div>
 
    <script src="./login.js" type="text/javascript"></script>

<body/>
</html>


